@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

body {
    background: #f3f1f1e7;
}

.navbar {
    background: #35578bb0;
}

.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 5px;
    background: #971c1c;
    transition: 0.2s;
}

.nav-item:hover::after {
    width: 100%;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #182841;
}

.nav-link {
    padding: 15px 5px;
    transition: 0.2s;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #18163dc9;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: #fec400;
}